*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(59, 59, 58);
}
header{
    text-align: center;
    background-color: rgb(59, 59, 58);
    color: rgb(255, 255, 255);
    padding: 110px;
    font-family: Arial, Helvetica, sans-serif;
}
.img{
    width: 400;
    height: 200;

}
input{
    display: block;
    margin: 10px 0;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    border-bottom: 1px solid #ffffff; 
}
.corpo{
    align-content: center;
    background-color: rgb(59, 59, 58);
    padding: 130px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    text-align: center;
    font-size: large;
    color: white;
}